
<div class="module_display">
<table>
<tr><td><h1 class="module_name"><%= @ds_module.name %></h1></td>
<% if @ds_module.user == current_user %>
<td><em><%= link_to "edit", edit_ds_module_path(@ds_module) %></td>
<% else %>
<td class="module_creator_name">By <%= @ds_module.user.name %></td>
<% end %>
</tr>
</table>

<em>Version: <%= @ds_module.version %></em><br /><br />
<em><%= @ds_module.tag_list.count > 1 ? "Categories:" : "Category:"  %> 
<%= @ds_module.tag_list.join(", ") %></em><br /><br />

<h1><%= link_to "Download", @ds_module.ds_attachment.url %></h1><br /><br />
<h1>Description</h1>
<%= sanitize(markdown(Sanitize.clean(@ds_module.documentation))) %><br />
<% unless @ds_module.is_example? %>
<h1>Example</h1>
<%= coderay(@ds_module.example).html_safe %><br /><br />
<% end %>
<% if @ds_module.get_scripts.count > 0 %>
	<h1>Code</h1>
    <% @ds_module.get_scripts.each do |script| %>
	    <h2><%= File.basename(script.path) %></h2>
        <%= coderay(read_module(script.path)).html_safe %>
    <% end %>
<% end %>


</div>
