
<table class="profile" summary="Profile information">
  <tr>
	<td class="main">
	  <h1>
		<%= image_for @user %>
		<%= @user.name %>
	  </h1>

	<% unless @user.ds_modules.empty? %>
		<table class="ds_modules" summary="User modules">
		<%= render @ds_modules %>
		</table>
	<% end %>
	</td>
	<td class="sidebar round">
	  <strong>Name</strong> <%= @user.name %><br />
	  <strong>Modules</strong> <%= @user.ds_modules.count %>
	</td>
  </tr>
</table>

