
<%= form_for @ds_module, :html => { :multipart => true } do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :version %>
		<%= f.text_field :version %>
	</div>
	<div class="field">
		<%= f.label :description %><br />
		<%= f.text_area :documentation %>
	</div>
	<% if @ds_module.get_images.count > 0 %>	
	    <p><em>Attached images:</em></p>
        <%= coderay(@ds_module.get_images_markdown).html_safe %>
    <% end %>	
	<div class="field">
		<%= f.label :example %><br />
		<%= f.text_area :example %>
	</div>
	
	<div class="field">
	<%= f.select(:tag_list, Tag.all.collect { |t| t.name },
		options = {},
		html_options = { :multiple => true, :title => "Categories", :class => "chzn-select"  } ) %>
	</div>
	<p><em>(e.g. Example, Library, Architecture, Engineering, Environmental)</em></p> 
	<div class="field">
		<%= f.label :DesignScript_file_or_zip %>
		<%= f.file_field :ds_attachment %>
	</div>
	<div class="actions">
		<%= f.submit "Submit" %>
	</div>
<% end %>
