
<% if signed_in? %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
<%= javascript_include_tag "underscore" %>
<%= javascript_include_tag "backbone" %>
<%= javascript_include_tag "filter" %>

<table class="front" summary="For signed-in users">
   <tr>
	<td class="main">
	  <h1 class="ds_module">Latest Modules</h1>
		<%= render 'shared/all_ds_modules' %>
	</td>
	<td class="sidebar">
	<h1 class="categories">Categories</h1>
	<% Tag.all.each do |tag| %>
	  <div class="category_link">
		<%= link_to(tag.name, '#' + tag.name) %>
	  </div>
	<% end %>
	</td>
  </tr>
</table>
<% else %>
	<p>DSAN is invite-only at the moment. Please sign in if you have an account</p>
	<%= link_to "Sign in", signin_path %>
<% end %>


